@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="row">

    <div class="col-md-12"></div>

    <div class="col-md-12">
        <div class="panel panel-default panel-default-enquiry">
            <div class="panel-heading"><h2><center>Exam Center in Following States</center></h2></div>
            <div class="panel-body">
                <div style="text-align:justify; font-size:large; text-indent:each-line;">

                    <div class="row" style="background-color:blue; text-decoration-style:wavy; color:white">
                        <div class="col-md-1"> <center><b>SRN</b></center>  </div>
                        <div class="col-md-4"><b>State</b></div>
                        <div class="col-md-7"><b>City </b></div>
                    </div>

                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>1.</b></center>  </div>
                        <div class="col-md-4">Andaman And Nicobar Islands </div>
                        <div class="col-md-7">Portblair </div>
                    </div>

                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>2.</b></center>  </div>
                        <div class="col-md-4">Andhra Pradesh </div>
                        <div class="col-md-7">Tirupati, Vijaywada, Vishakhapattanam </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>3.</b></center>  </div>
                        <div class="col-md-4">Arunachal Pradesh </div>
                        <div class="col-md-7">Itanagar </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>4.</b></center>  </div>
                        <div class="col-md-4">Assam </div>
                        <div class="col-md-7">Guwahati, Dibrugarh </div>
                    </div>
                    
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>5.</b></center>  </div>
                        <div class="col-md-4">Bihar</div>
                        <div class="col-md-7">Patna,  Bhagalpur, Muzaffarpur, Gaya, Motihari, Arah </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>6.</b></center>  </div>
                        <div class="col-md-4">Chandigarh </div>
                        <div class="col-md-7">Chandigarh </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>7.</b></center>  </div>
                        <div class="col-md-4">Chhattisgarh </div>
                        <div class="col-md-7">Bhilai, Bilaspur, Raipur </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>8.</b></center>  </div>
                        <div class="col-md-4">Dadra And Nagar Haveli </div>
                        <div class="col-md-7">Dadar </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>9.</b></center>  </div>
                        <div class="col-md-4">Delhi </div>
                        <div class="col-md-7">Delhi, Ghaziabad, Noida,  Gurgaon </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>10.</b></center>  </div>
                        <div class="col-md-4">Goa </div>
                        <div class="col-md-7">Panji </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>11.</b></center>  </div>
                        <div class="col-md-4">Gujarat </div>
                        <div class="col-md-7">Ahmadabad, Rajkot, Surat, Gandhinagar, Vadodra </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>12.</b></center>  </div>
                        <div class="col-md-4">Haryana </div>
                        <div class="col-md-7">Gurugram, Ambala, Panipat </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>13.</b></center>  </div>
                        <div class="col-md-4">Himachal Pradesh </div>
                        <div class="col-md-7">Shimla, Kullu, Dharamshala </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>14.</b></center>  </div>
                        <div class="col-md-4">Jammu And Kashmir </div>
                        <div class="col-md-7">Jammu, Srinagar </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>15.</b></center>  </div>
                        <div class="col-md-4">Jharkhand </div>
                        <div class="col-md-7">Ranchi, Bokaro, Jamshedpur, Hazaribagh </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>16.</b></center>  </div>
                        <div class="col-md-4">Karnataka </div>
                        <div class="col-md-7">Bangalore, Mysore, Hubli, Mangalore </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>17.</b></center>  </div>
                        <div class="col-md-4">Kerala </div>
                        <div class="col-md-7">Tiruannanthpuram </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>18.</b></center>  </div>
                        <div class="col-md-4">Lakshadeep </div>
                        <div class="col-md-7">Kavarrati </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>19.</b></center>  </div>
                        <div class="col-md-4">Madhya Pradesh </div>
                        <div class="col-md-7">Bhopal, Indore, Gwalior, Jabalpur, Ujjain </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>20.</b></center>  </div>
                        <div class="col-md-4">Maharashtra </div>
                        <div class="col-md-7">Mumbai, Nagpur, Nasik, Pune </div>
                    </div>
                   
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>21.</b></center>  </div>
                        <div class="col-md-4">Manipur </div>
                        <div class="col-md-7">IMPHAL </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>22.</b></center>  </div>
                        <div class="col-md-4">Meghalaya </div>
                        <div class="col-md-7">Shilong </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>23.</b></center>  </div>
                        <div class="col-md-4">Mizoram </div>
                        <div class="col-md-7">Aizwal </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>24.</b></center>  </div>
                        <div class="col-md-4">Nagaland </div>
                        <div class="col-md-7">Kohima </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>25.</b></center>  </div>
                        <div class="col-md-4">Odisha </div>
                        <div class="col-md-7">Bhubaneshwar, Rourkela </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>26.</b></center>  </div>
                        <div class="col-md-4">Puducherry </div>
                        <div class="col-md-7">Puducherry </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>27.</b></center>  </div>
                        <div class="col-md-4">Punjab </div>
                        <div class="col-md-7">Amritshar, Pathankot, Jalandhar, Ludhiana </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>28.</b></center>  </div>
                        <div class="col-md-4">Rajasthan  </div>
                        <div class="col-md-7">Sikar, Jaipur, Kota, Udaipur, Jodhpur, Ajmer, Bhilwara </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>29.</b></center>  </div>
                        <div class="col-md-4">Sikkim </div>
                        <div class="col-md-7">Gangtok </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>30.</b></center>  </div>
                        <div class="col-md-4">Tamil Nadu </div>
                        <div class="col-md-7">Chennai, Coimbatore, Madurai, Vellore </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>31.</b></center>  </div>
                        <div class="col-md-4">Telangana </div>
                        <div class="col-md-7">Hyderabad, Warangal </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>32.</b></center>  </div>
                        <div class="col-md-4">Tripura </div>
                        <div class="col-md-7">Agartalla </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>33.</b></center>  </div>
                        <div class="col-md-4">Uttar Pradesh </div>
                        <div class="col-md-7">Lucknow, Kanpur, Bareily, Gorakhpur, Agra </div>
                    </div>
                    <div class="row" style="background-color: lightcyan">
                        <div class="col-md-1"> <center><b>34.</b></center>  </div>
                        <div class="col-md-4">Uttarakhand </div>
                        <div class="col-md-7">Dehradun, Haridwar, Roorkee </div>
                    </div>
                    <div class="row" style="background-color:pink">
                        <div class="col-md-1"> <center><b>35.</b></center>  </div>
                        <div class="col-md-4">West Bengal </div>
                        <div class="col-md-7">Kolakata, Silliguri, Durgapur, Asansol , Vardhman </div>
                    </div>



                </div>

            </div>

        </div>

    </div>

</div>

