
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">



    <div class="col-md-12">
        <div class="panel panel-success panel-success">
            <div class="panel-heading"><h3>Instruction for the application AISET-2020</h3></div>
            <div class="panel-body">
                <div style="text-align:justify;  text-indent:each-line;">



                    <div class="row">
                        <div class="col-md-1"> <center><b>1.</b></center>  </div>
                        <div class="col-md-11">Keep all your documents ready before filling out the form to avoid mistakes. </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>2.</b></center>  </div>
                        <div class="col-md-11">Scan or browse your last photo / recent in .JPG, JP or .png format. Please note that the file size of your photo must not exceed 100 KB. </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>3.</b></center>  </div>
                        <div class="col-md-11"> Keep your identity card (any: Aadhar number, Aadhar membership number, student number, passport, ration card, bank account number, other valid government identity, voter ID, etc.).</div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>4.</b></center>  </div>
                        <div class="col-md-11">Keep your payment details handy when you fill out the application. </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>5.</b></center>  </div>
                        <div class="col-md-11">Notebooks, notes, copies, copied notes and any type of personalized notebooks are strictly forbidden in the examination center. </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>6.</b></center>  </div>
                        <div class="col-md-11"> Admission to the online test will be purely provisional without verification of the documents.</div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>7.</b></center>  </div>
                        <div class="col-md-11"> In case of multiple entries for the same scholarship, only the last entry will be considered valid.</div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>8.</b></center>  </div>
                        <div class="col-md-11"> Applicants are invited to regularly check the AISET website for the latest information on examinations, results and scholarship processes.</div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"> <center><b>9.</b></center>  </div>
                        <div class="col-md-11">  Be sure to check your junk mail folder also for registration-related e-mails.</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"> <center><b>10.</b></center>  </div>
                        <div class="col-md-11"> If you have any questions regarding the completion of this form, please send us an e-mail to: info@AISET.in or call us at: 9999728088. </div>
                    </div>


                    <div class="row">
                        <div class="col-md-1">  </div>
                        <div class="col-md-11"> Application FEE for AISET-2020 scholarship -> 999/INR </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">  </div>
                        <div class="col-md-11">  Application for AISET-2020 OPEN BOOK scholarship -> 1800/INR</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-1"> <b>Notes:</b> </div>
                        <div class="col-md-11">
                            Application Fee includes all The charges conducting Exams and free Mock test for applying students. Application fee for all male/female as wel as General / OBC / SC / ST,applicants across all platform including Free Mock test.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">  </div>
                        <div class="col-md-11">&nbsp;</div>
                    </div>

                    <div class="row">

                        <a href="@Url.Action("Step1","Home")" target="_blank" class="btn btn-primary">Apply now</a>


                    </div>
                    <div class="row">
                        by clicking apply now button you are agreeing to accept aiset term and condition stated in website regarding exam and scholarship
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>




