
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model AISET.Models.ForgotPasswordModels
<div id="home-slider-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            @using (Html.BeginForm("Login", "Home"))
            {
                <div class="col-md-4">
                    <div class="login-block">
                        <h1>Log In</h1>
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.ValidationSummary()
                                @ViewBag.Error
                            </div>
                            <div class="form-group">
                                <div class="input-group field">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @maxlength = "50", @placeholder = "Email*" })
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-block btn-info">Submit</button>
                        </div>
                        <br />
                        <div class="row">
                            <a href="@Url.Action("Login","Home")" class="btn btn-block btn-primary">Go To Login Page</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-4"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

